<div class="row">
  <div class="col">
  </div>
  <div class="col-8">
    <div class="card home-card">
      <%=image_tag("#{@sign}.png", class: "#{@sign} card-img-top home-sign")%>
      <span class="text home-date"><%=@prediction.pred_date.strftime("%B %d, %Y")%></span>
      <div class="card-body home-sign-greet">
        <h4 class="card-title">Hey <%=@sign%>,</h4>
        <p class="text-left">
          <%= @prediction.prediction %>
          <!-- <footer class="blockquote-footer">Ganesha</footer> -->
        </p>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <label for="comment">Thoughts</label>
          <% if !current_user.nil? %>
            <%= render "journals/journal_form" %>
        </li>
        <li class="list-group-item"><%= link_to("My Journal", journals_path, class: "card-link") %></li>
        <li class="list-group-item">See Ratings</li>
          <% else %>
          <input id="comment_sign_up" class="home-comment" type="text" name="comment" row="10" value="">
            <%= render "signup_modal" %>
            <%= link_to "Save", "#", id: "no_saveBtn", action: "sign_up_modal" %>
        </li>
          <% end %>
      </ul>
    </div>
  </div>
  <div class="col">
  </div>
</div>
