<!DOCTYPE html>
<html>
  <head>
    <title>HoroscopeSympatico</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="" href="">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <nav class"navbar navbar-toggleble navbar-brand">
        <% if user_signed_in? %>
          <%= link_to "Home", user_root_path(current_user.id), :class => 'navbar-brand' %>
            <ul class="list-inline float-right nav-bar navbar-text">
              <li class="nav-item list-inline-item">
                Logged in as <strong><%= current_user.email %></strong>
              </li>
              <li class="nav-item list-inline-item">
                <%= image_tag current_user.avatar.url(:thumb), class: "nav_pic rounded" %>
              </li>
              <li class="nav-item list-inline-item">
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
              </li> |
              <li class="nav-item list-inline-item">
                <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :class => 'navbar-link'  %>
              </li> |
          <% else %>
            <%= link_to "Home", root_path, :class => 'navbar-brand' %>
              <ul class="list-inline float-right nav-bar navbar-text">
                <li class="nav-item list-inline-item">
                  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
                </li> |
                <li class="nav-item list-inline-item">
                  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                </li>
          <% end %>
        </ul>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
  </body>
</html>
